.input-section label {
  font-weight: bold;
}

.input-group {
  margin-bottom: 10px;
}

#output {
  margin-top: 30px;
}

.table-container {
  margin-top: 20px;
}

h1 {
  margin-top: 50px;
  padding: 20px;
  background-color: rgb(84, 84, 144);
  width: 100%;
  color: white;
}

.btn {
  background-color: rgb(84, 84, 144);
  color: white;
  outline: none;
}

.btn:hover {
  background-color: rgb(109, 109, 122);
  color: white;
}

.red-row {
  background-color: #41c248; /* Light red */
}

img {
  width: 240px;
  margin-top: 20px;
}

.title {
  color: rgb(84, 84, 144);
}

body {
  background-color: #e6e2e2;
}
.base-variable {
  background-color: rgb(23, 66, 103);
}

.non-base-variable {
  background-color: red;
}

.table {
  color: white;
}
